#sec1
{
    height:20vw;
}
.wh
{
    width:100%;
    position: relative;
    top:10vw;
}
.wh .heading
{
    color:#E8C99A;
}
#section2::before,#section3::before,#section4::before,#section5::before
{
    display: block;
    position:absolute;
    content:"";
    width:100%;
    height:100%;
    background:  linear-gradient(rgba(0,0,0,0.4),rgba(0, 0, 0, 0.86));
}
#section2 .wh,#section3 .wh,#section4 .wh,#section5 .wh
{
    width:100%;
    position:absolute;
    top:5vw;
}
.pdctContainer
{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap:5vw;
    column-gap: 1vw !important;;
    width:100%;
    height:28vw;
    position: absolute;
    top:15vw;
    color: #E8C99A;
    overflow-y: scroll;
    scroll-snap-type:both mandatory;
}
.pdctContainer::-webkit-scrollbar
{
    display: none;
}
.pdctContainer .card 
{
    scroll-snap-align: center;
    border-bottom: 3px solid rgba(255,255,255,0.6);
}
.pdctContainer .card .image img
{
    width:100%;
    object-fit: cover;
    border-radius:2%;
}
.pdctContainer .card .heading
{
    font-size: 2vw;
    position: relative;
    padding-top: 0;
    text-align: center;
}
.pdctContainer .card .cardbtn
{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    column-gap:1vw;
    width:100%;
}
.pdctContainer .card .cardbtn .btn
{
    color: #E8C99A
}
#section2
{
    height:50vw;
    position: relative;
    background:url(../Images/home.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#blend5
{
    height:52vw;
    width:100%;
    mix-blend-mode: screen;
    position:relative;
    top:-2vw;
}
#section3
{
    height:50vw;
    position: relative;
    background:url(../Images/home1.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#blend6
{
    height:50vw;
    width:100%;
    mix-blend-mode: screen;
}

#section4
{
    height:50vw;
    position: relative;
    background:url(../Images/Gallery/biscuits1.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#section5
{
    height:50vw;
    position: relative;
    background:url(../Images/home2.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}